@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #ff3811;
    --title-color: #151515;
    --gray-color: #6b7280;
}
body {
    margin: 0;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI',
        'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

/* Main Button Style */
.my-btn {
    background: var(--primary-color);
    color: white;
    border: 1px solid var(--primary-color);
}
.my-btn:hover {
    background: transparent;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}
/* 2nd Button Style */
.my-2nd-btn {
    background: transparent;
    color: #ff3811;
    border: 1px solid #ff3811;
}
.my-2nd-btn:hover {
    background: #ff3811;
    color: white;
    border: 1px solid #ff3811;
}
